<% layout("layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <br><br>

    <h3>Create New Listing</h3>

    <form 
      method="POST" 
      action="/listings" 
      novalidate 
      class="needs-validation" 
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input 
          name="listing[title]"
          placeholder="Add a catchy Title"
          class="form-control"
          type="text"
          required
        />
        <div class="valid-feedback">Title Looks Good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea 
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter short description</div>
      </div>

      <div class="mb-3">
        <label class="form-label">Upload Listing Image</label>
        <input 
          name="listing[image]" 
          class="form-control form-control-sm"
          type="file"
          required
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label class="form-label">Price</label>
          <input 
            name="listing[price]"
            placeholder="1200"
            class="form-control"
            type="number"
            required
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="mb-3 col-md-8">
          <label class="form-label">Country</label>
          <input 
            name="listing[country]"
            placeholder="India"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country name should be valid</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Location</label>
        <input 
          name="listing[location]"
          placeholder="Bengaluru, Karnataka"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid</div>
      </div>

      <br><br>
      <button type="submit" class="btn add-btn">Add</button>
      <br><br>
    </form>
  </div>
</div>